body {
  font-size: 3vw;
  font-family:  monospace;
  width: 100%;
  height: 100%;

  margin: 0;
  border: 0;
  padding: 0;

  display: block;
  position: fixed;

  top: 0;
  left: 0;
  z-index: -9999;

  font-family: 'Roboto', sans-serif;
}

#hud_distance{
     display: block;
     position: fixed;

     color: black;

     top: 5%;
     right: 5%;
     z-index: 0;

 }

#hud_shields {
       display: block;
       position: fixed;

       color: black;

       top: 5%;
       left: 5%;
       z-index: 0;

       /* THIS CHANGES COLOUR SLOWLY */
       transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
       -o-transition: all 1s ease-in-out;
       -ms-transition: all 1s ease-in-out;
       transition: all 1s ease-in-out;
   }

#hud_healthUp {
    display: block;
    position: fixed;

    visibility: hidden; 

    color: black;

    top: 10%;
    left: 5%;
    z-index: 0;

    /* THIS CHANGES COLOUR SLOWLY */
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.ui_overlay {
    display: none;

    position: fixed;

    color: white;

/* ELEMENT IN THE CENTER */
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    background-color: rgba(0,0,0,0.5);
    padding: 3vh 0 3vh 2vw;

    width: 50vw;
    margin-top: 10vh;

    position: absolute

    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.clickable_group {

   position: absolute;
   display: block;
   right:      3vw;
   bottom:     3vh;
   padding: 1vh 1vw 1vh 1vw;
}

.clickable {
   outline:            0;
   color:              white;
   background-color:   transparent;
   border:             0.2vw solid white;

   font-size:          2vh;
   padding:            1vh 1vw 1vh 1vw;
   border-radius:      3vw;
}

.clickable:hover {
   background-color:   white;
   color: rgba(0,0,0,1);
   border: 0.2vw solid white;
}

.clickable:active {
   outline: 0;
   color: orange;
   background-color: white;
   border: 0.2vw solid white;
}
